body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    font-size: 1.8rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #0f0f0f;
  }
  
  a {
    text-decoration: none;
    color: #f1f3f5;
  }
  