/* Header styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 237, 0.7231267507002801) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand h1 {
  font-size: 2rem;
  color: #f6f7f8;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.flex {
  display: flex;
  gap: 20px;
}

.space-x-4 {
  margin-left: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

ul li {
  font-size: 1.5rem;
  font-weight: 500;
}

ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #007acc;
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-brand h1 {
    margin-bottom: 10px;
  }

  ul {
    flex-direction: column;
    gap: 10px;
  }
}
