/* Header.css */
.navbar {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,237,0.7231267507002801) 50%, rgba(252,176,69,1) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #f5f5f5;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #e60cdb;
}
