/* Add the bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.box {
    height: 100vh;
    background-image: url('./src/pictures/videoframe_292.png'); /* Set the image as background */
    background-size: cover; /* Make sure the background covers the entire section */
    background-position: center; /* Center the background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2; /* Ensure content is above the background */
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 15rem;
    padding: 0 1rem;
    line-height: 1.6;
    color: white;
}
