.box {
    height: 100vh;
    background-size:contain;
    background-position: center;
    color: rgb(20, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content img {
    width: 38.5%; /* Make the image smaller */
    margin-bottom: 1rem;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1.5rem;
    /*max-width: 600px;*/
    margin-bottom: 15rem;
    padding: 0 1rem;
    line-height: 1.6;
}
